@import url(https://www.cufonfonts.com/images/24988/cheyenne-sans-medium-italic-font-list-preview.png) .item img:hover {
    transform: scale(1.05);
    transition: all-ease;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}

.heading {
    font-size: 62px;
    font-family: 'Cheyenne Sans'
}